body{
    margin: opx;
    padding: 0px;
    background-color: #f5f8ff;
    font-family: "Raleway", sans-serif;
.header{
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
    background-position: center;    
    margin: 0px;
}
}.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
}
.nav-logo{
    font-size: 35px;
    font-weight: 700;
    color: #4E47FF;
    font-family: 'Inter', sans-serif;
}
.primary-btn{
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 8px;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    padding: 10px 20px;
}
.primary-btn:hover{
    background-color: white;
    border: 3px solid #4E47FF;
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    font-family: "Raleway", sans-serif;
}
.hero-content{
    text-align: center;
    padding: 0px 0px 100px 0px;
}
.hero-title{
    font-size: 60px;
    color: #252432;
}

/* action section */

.action-section{
    display: flex;
    gap: 100px;
    padding: 100px 140px;
}
.action-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.action-subtitle{
    color: #252432;
    font-size: 24px;
}
.action-img{
    border-radius: 48px;
}

/* productive users section */

.p-user-section{
    background-color: rgba(78, 71, 255, 0.1);
    margin: 0px 150px;
    border-radius: 10px;
    margin-bottom: 0px;
    padding: 50px 110px;
    margin-top: 90px;
}
.p-user-title{
    font-size: 34px;
    font-weight: bold;
    text-align: center;
}
.p-user-item-container {
    display: flex;
    justify-content: space-around;
}.p-user-item-title{
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Inter', sans-serif;
}
.p-user-item-description{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-top: 0px;
}

/* user feedback section */

.feedback-section {
    margin: 0px 10px;
    padding: 50px 10px;
    margin-top: 90px;
    font-family: 'Inter', sans-serif;
}

.feedback-section-title {
    font-size: 42px;
    font-weight: bold;
    margin: 0px 150px;
    padding: 50px 250px;
}

.feedback-container {
    display: flex;
    gap: 20px;
    padding: 10px 160px;
}

.feedback-item {
    border-radius: 14px;
    box-shadow: 5px 0px 50px rgba(161, 159, 159, 0.121);
    padding: 20px;
}

.feedback-icon {
    display: flex;
}

.feedback-title {
    font-size: 18px;
    font-weight: bold;
}

.description {
    color: #252432;
}

.profile {
    border-radius: 100px;
    height: 40px;
    width: 40px;
}

.customer-profile {
    display: flex;
    align-items: center;
    gap: 15px;
}

.feedback-item-title {
    font-size: 14px;
    margin: 0px;
    color: #3b3a49;
}

.feedback-subtitle {
    font-size: 12px;
    line-height: 0;
    color: #757575;
}

/* focus section */

.focus-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    text-align: center;
}

.focus-title {
    font-size: 48px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}

.focus-subtitle {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}
.mockup-image {
    width: 70%;
    height: auto;
    margin-top: 30px;
    border-radius: 48px;
}